{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            display: grid;
            grid-template-rows: auto 1fr auto; 
            min-height: 100vh; 
        }

        .footer {
            grid-row-start: 3; 
            grid-row-end: 4;
            width: 100%;
            background-color: #f8f9fa;
            text-align: center;
            padding: 10px 0;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">HappyDay</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('list_birthday') }}">Liste d'anniversaires</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('add_birthday') }}">Ajouter un anniversaire</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        {% block body %}{% endblock %}
    </div>

    <div class="footer">
        <p>© {{ 'now'|date('Y') }} HappyDay. Tous droits réservés.</p>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
